@{
   ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <h1>PMSoft</h1>
   <p class="lead">PMSoft (versión inicial) es un software de gestión de actividades de un proyecto.</p>
   <p class="lead">El alcance de esta versión incluye el registro de las actividades, personas, y recursos de un proyecto.</p>
   <p class="lead">Con lo cual se podrán realizar las primeras actividades de seguimiento (registro de porcentajes de avance),</p>
   <p class="lead">y así poder calcular el avance total de cada proyecto registrado.</p>
   <p class="lead">PMSoft esta construido con software libre (C#, y .Net Framework).</p>
   <p class="lead">La base de datos es SQL Server 2016 Developer Edition (tm) que, a la fecha de la versión, es gratis para propositos de desarrollo (no está incluida en la distribución)</p>
</div>
